Flask==3.1.2
line-bot-sdk==3.22.0
python-dotenv==1.2.1
gunicorn==23.0.0  
ib-insync==0.9.86
ccxt==4.5.35
yfinance==1.1.0
pandas==3.0.0
numpy==2.2.6
pandas_market_calendars==5.3.0
requests==2.32.5
psutil==7.2.2
pytz
APScheduler==3.10.4

# dev
pytest